<div class="container">
    <div class="row my-3">
        <div class="col-4">
            <div class="row">
                <div class="col-md-6 my-1" *ngFor="let image of product?.images | keyvalue">
                    <img class="img-thumbnail round" [src]="image.value" [alt]="image.value">
                </div>

            </div>
        </div>
    </div>
</div>



<div class="row my-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.name }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.description }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.quantity }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.ppu }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.category }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.discount }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.size }}</p>
            </div>
        </div>
    </div>
</div>