<div class="row my-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.name }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.description }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.quantity }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.ppu }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.category }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.discount }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ product?.size }}</p>
            </div>
        </div>
    </div>
</div>