@import '../../../../global-style-settings.scss';

.nav-scrolled{
    background-color: #fff !important;
}
.navbar-brand{
	font-size: 1.75rem;
    font-family: var(--candy-script);
    @include text-gradient-bg;
}
.navbar-nav{
    margin-bottom: -14px;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.68);
}
.nav-item{
    position: relative;
    margin-left: 6px;
}
.bottom,.top,.left,.right{
    position: absolute;
    border-radius: 100%;
    transition: all 400ms;
}
.bottom{
    left: 0;
    width: 0;
    bottom: 0;
    border-bottom: 2px solid #868686;
}
.top{
    top: 0;
    width: 0;
    right: 0;
    border-top: 2px solid #868686;
}
.left{
    top: 0;
    left: 0;
    height: 0;
    border-left: 2px solid #868686;
}
.right{
    bottom: 0;
    right: 0;
    height: 0;
    border-right: 2px solid #868686;
}
.nav-item:hover>.bottom,.nav-item:hover>.top{
    width: 100%;
}
.nav-item:hover>.left,.nav-item:hover>.right{
    height: 100%;
}
.nav-item.active:hover>.bottom,.nav-item.active:hover>.top,.nav-item.active:hover>.left,.nav-item.active:hover>.right{
    display: none;
}

.user-menu{
    display: flex;
    min-width: 150px;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}