@import '../../../../global-style-settings.scss';


.nav-scrolled{
    background-color: #fff !important;
}
.navbar-brand{
	font-size: 1.75rem;
    font-family: var(--candy-script);
    @include text-gradient-bg;
}
.navbar-nav{
    margin-bottom: -14px;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.68);
}
.nav-item{
    position: relative;
    margin-left: 6px;
    &.active{
        background-color: var(--bg-gold);
    }
}
.bottom,.top,.left,.right{
    position: absolute;
    border-radius: 100%;
    transition: all 400ms;
}
.bottom{
    left: 0;
    bottom: 0;
    border-bottom: 2px solid var(--bg-gold);
}
.top{
    top: 0;  
    right: 0;
    border-top: 2px solid var(--bg-gold);
}
.left{
    top: 0;
    left: 0;
    border-left: 2px solid var(--bg-gold);
}
.right{
    bottom: 0;
    right: 0;
    border-right: 2px solid var(--bg-gold);
}
.bottom, .top {
    width: 0;
}
.left, .right{
    height: 0;
}
.nav-item:hover>.bottom,.nav-item:hover>.top{
    width: 100%;
}
.nav-item:hover>.left,.nav-item:hover>.right{
    height: 100%;
}
.nav-item.active:hover>.bottom,.nav-item.active:hover>.top,.nav-item.active:hover>.left,.nav-item.active:hover>.right{
    display: none;
}

.user-menu{
    display: flex;
    min-width: 150px;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

@media (max-width: 990px){
    .collapse{
        // display: flex !important;
        display: block !important;
        transform: translateX(250px);
    }
    .nav-item{
        padding: 0 12px;
        margin-top: 12px;
    }
    .navbar-collapse{
        display:flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--bg-primary);
        padding: 70px 10px 4px 10px;
        height: 100vh;
        z-index: -99;
        transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 700ms;
    }
    .user-menu{
        justify-content: flex-start;
    }
    #loggedInUserMenu{
        margin-top: 2rem;
    }
    #notLoggedInUserMenu{
        position: absolute;
        bottom: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        & li a{
            color: white
        }
    }
}