<div class="card bg-shadow mb-4">
    <img class="card-img-top" [src]="productItem.imgURL" alt="image for productItem.name">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h5 class="card-title">{{productItem.name | slice: 0:15}}...</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="card-text">{{ productItem.description | slice: 0:50 }}...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a [routerLink]="['product/' + productItem.id] + '/' + this.sku[1]?.id"
                    class="btn btn-link-custom">View Details</a>
            </div>
            <div class="col-6">
                <button class="btn btn-link-custom" (click)="addToChart(productItem)">Add To Cart</button>
            </div>
        </div>
    </div>
</div>