<div class="card bg-shadow mb-4">
    <a class="link-expand" (click)="viewItem(productItem)"></a>
    <img class="card-img-top" [src]="productItem.imgURL" alt="image for productItem.name">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h5 (click)="viewItem(productItem)" class="card-title">{{productItem.name | slice: 0:15}}...</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="card-text">{{ productItem.description | slice: 0:50 }}...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <select class="form-select">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5(max)</option>
                </select>
            </div>
            <div class="col-6">
                <button class="btn btn-link-custom" (click)="addToCart(productItem)">Add To Cart</button>
            </div>
        </div>
    </div>
</div>