<div class="container">
    <h1 class="display-1 text-center">Contact Us</h1>
    <div class="row">
        <div class="col-sm-1 col-md-4 col-lg-4">
            <h3 class="text-center">Address</h3>
            <p>Raj Bika, Shop No. 125 <br> Outside Jassusar Gate <br> Bikaner <br> Rajasthan - 334001</p>
        </div>
        <div class="col-sm-1 col-md-4 col-lg-4">
            <h3 class="text-center">Phone</h3>
            <p>151-252-6602</p>
        </div>
        <div class="col-sm-1 col-md-4 col-lg-4">
            <h3 class="text-center">Email Us</h3>
            <p><a href="mailto:svvgindustries@gmail.com">svvgindustries@gmail.com</a></p>
        </div>
    </div>
</div>
