<div class="container">
    <div class="row">
        <div class="col-12">            
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-2 col-sm-4">
                        <img *ngIf="userPhotoUrl != null" [src]="userPhotoUrl" [alt]="userDisplayName + '\'s display pictures'" class="img-thumbnail round">
                    </div>
                    <div class="col-8">
                        <h5 *ngIf="userDisplayName != null" class="display-3">Hello {{userDisplayName}}!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
