<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="display-1 text-center">About Us</h1>
			<p>RAJ BIKA was established in 2013 by Ms. Brijesh Gaur. She is fond of making papad for her family and friends, and slowly but surely the word of her scrumptious papad spread around. RAJ BIKA has successfully spread business across the Indian market due to the high quality and unique taste of Bikaneri Papads. Due to her rich experience and knowledge about spices, pulses and manufacturing process we are serving you the best papad in the world with richest taste and aroma.</p> 
			<p>We provide hand rolled papad, rolled with help of besan (chickpea flour). Available in smaller sizes (tikdi), 200gm, 400gm, 500gm, 800gm, 1kg and master box size- 30kg packs</p>
		</div>
	</div>
</div>