<footer class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-md-4">
                    <h3 class="footer-head">About Us</h3>
                    <p class="footer-p">RAJ BIKA was established in 2013 by Mrs. Brijesh Gaur. She is fond of making papad for her family and friends, and slowly but surely the word of her scrumptious papad spread around. RAJ BIKA has successfully spread business across the Indian market due to the high quality and unique taste of Bikaneri Papads. Due to her rich experience and knowledge about spices, pulses and manufacturing process we are serving you the best papad in the world with richest taste and aroma. </p>
                </div>
                <div class="col-sm-1 col-md-4">
                    <h3 class="footer-head">Links</h3>
                    <ul class="footer-ul">
                        <li>Terms and Conditions</li>
                        <li>Privacy Policy</li>
                        <li>Partners</li>
                        <li>Order</li>
                    </ul>
                </div>
                <div class="col-sm-1 col-md-4">
                    <h3 class="footer-head">Contact Us</h3>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-envelope"></i></span>
                                <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            </div>
                        </div>
                        <div class="from-group">
                            <textarea class="form-control" name="messagee" id="message" placeholder="Your Message" cols="30" rows="5" style="resize: none;"></textarea>	
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3 class="footer-head text-center">Connect With Us</h3>
                    <div class="footer-social fb"><a href="#"></a><i class="fa fa-facebook"></i></div>
                    <div class="footer-social tw"><a href="#"></a><i class="fa fa-twitter"></i></div>
                    <div class="footer-social ig"><a href="#"></a><i class="fa fa-instagram"></i></div>
                    <div class="footer-social gp"><a href="#"></a><i class="fa fa-google"></i></div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="container-fluid sub-footer" style="background-color: #222;">
            <div class="row">
                <div class="col-md-12">
                    <p class="footer-p text-center">Developed &amp; Designed by <a href="#">Ankit Kumar</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>